<!--
Community
ruby on rails gold coast - sept 2012 - present
dgc - jan 2011 - present

Jobs
pixelstack - jan 2012 - present
triverse designs - march 2004 - jan 2012
-->
<div class="section-title">
  <h2>Employment</h2>
  <small>Jobs, what I did and some of the highlights</small>
</div>

<div class="employment">
  <div class="employment__item">
    <div class="employment__item-header">
      <h2>Copirite <small>Web Developer, July 2013 - Present</small></h2>
    </div>
    <div class="employment__item-content">
      <p>My role at Copirite as a web developer has seen me building highly customised websites and web applications using the Ruby on Rails framework. This included work on existing rails apps as well as new rails apps and provisioning of servers for those web applications.</p>
      <p>As an addition to development with Ruby on Rails, I have been building websites and applications with technologies such as WordPress, Ember.js, Backbone, express and more</p>
      <p>Working with the amazing design team, we have been able to produce websites of the highest quality, resulting in winning a Macca Media Award for the <a href="http://oscaroscar.com.au" target="_blank">Oscar Oscar Salons</a> website.</p>
      <div class="employment__item-content-stats">
        <div class="employment__item-content-tech">
          <h3>Skills/Technology Used</h3>
          <ul>
            <li>Ruby</li>
            <li>Ruby on Rails</li>
            <li>Express.js</li>
            <li>Backbone</li>
            <li>Ember.js</li>
            <li>Middleman</li>
            <li>PHP</li>
            <li>WordPress</li>
            <li>Bootstrap</li>
            <li>Foundation for Sites</li>
            <li>Photoshop</li>
            <li>Illustrator</li>
            <li>cPanel</li>
            <li>Server Provisioning</li>
          </ul>
        </div>
        <div class="employment__item-content-highlights">
          <h3>Highlights</h3>
          <ul>
            <li>Migrate Accounting from MYOB to Xero</li>
            <li>MailRite EDM System Redevelopment</li>
            <li>2014 Macca Award Winning Website for Oscar Oscar Salons</li>
            <li>Front-end Development</li>
            <li>API Development</li>
          </ul>
        </div>
      </div>
    </div>
  </div><!-- .employment__item -->
  <div class="employment__item">
    <div class="employment__item-header">
      <h2>iOnline <small>Web Developer, July 2011 - July 2013</small></h2>
    </div>
    <div class="employment__item-content">
      <p>My time at iOnline was primarily spent building websites with their in house CMS iCMS.</p>
      <p>Additional to my role of taking designs and building the front-end as well as some parts of the back-end for custom features, I lead development on two SaaS products, ElevationHQ a CRM/Project Management hybrid and XOcashflow, an outstanding invoice follow up system for Xero which was created as a partner add-on.</p>
      <p>Further to my development role, I also brought Foundation, a front-end CSS Framework as well as version control with git into the workflow to normalize and speed up development with the developers.<br />Bringing Foundation into the mix as well as git allowed the team to build and maintain websites more efficiently as well as stopping from any feet being tread on when multiple team members were working on the same project.</p>
      <h3>Words from the team...</h3>
      <blockquote>Jaymie, over the time you've been here you have completely and utterly flipped my web dev world upside down. You are an absolute inspiration to me - <small>Jordan Gardiner, web developer</small></blockquote>
      <blockquote>You've taught me so many things that I now think of as essential knowledge in the business (git, etc) - <small>Bentley O'Kane Chase, web developer</small></blockquote>
      <blockquote>Thanks for all of the knowledge and passion you brought to the team - <small>Joshua Smith, Director</small></blockquote>
      <div class="employment__item-content-stats">
        <div class="employment__item-content-tech">
          <h3>Skills/Technology Used</h3>
          <ul>
            <li>Ruby on Rails</li>
            <li>iCMS (Custom PHP Framework)</li>
            <li>PHP</li>
            <li>Drupal</li>
            <li>WordPress</li>
            <li>Foundation for Sites</li>
            <li>Photoshop</li>
            <li>cPanel</li>
          </ul>
        </div>
        <div class="employment__item-content-highlights">
          <h3>Highlights</h3>
          <ul>
            <li>Lead developer on ElevationHQ SaaS product</li>
            <li>Lead developer on xocashlow a Xero add-on SaaS product</li>
            <li>Brought version control via git to workflows</li>
            <li>Brought Foundation CSS Framework to standardise on a CSS System to increase productivity</li>
            <li>Brought sass into the workflow</li>
            <li>Front-end Development</li>
          </ul>
        </div>
      </div>
    </div>
  </div><!-- .employment__item -->
  <div class="employment__item">
    <div class="employment__item-header">
      <h2>Xtreme <small>Web Developer, June 2008 - July 2011</small></h2>
    </div>
    <div class="employment__item-content">
      <p>During my time at Xtreme I was first introduced to Drupal in the very early 5.x versions of the Framework.<br />Designing and developing Drupal websites was my primary job but I also got to design and develop for other various platforms such as Magento as well as other custom and pre-built systems.</p>
      <p>Many of the websites consisted of industry leading holiday parks for families, but also for other various industries within Queensland as well as some other states.</p>
      <p>To add to my roles I managed the hosting and billing side of hosting services which also included the management of DNS for those properties using the service.</p>
      <div class="employment__item-content-stats">
        <div class="employment__item-content-tech">
          <h3>Skills/Technology Used</h3>
          <ul>
            <li>PHP</li>
            <li>Drupal</li>
            <li>Magento</li>
            <li>Interspire Email Marketing</li>
            <li>Less CSS Pre-processor</li>
            <li>Photoshop</li>
            <li>Plesk</li>
          </ul>
        </div>
        <div class="employment__item-content-highlights">
          <h3>Highlights</h3>
          <ul>
            <li>Designing Websites</li>
            <li>Integrating Designs into Drupal Based Sites</li>
            <li>Building Highly Customised Drupal Websites</li>
            <li>Brought the use of CSS Pre-processors (less)</li>
            <li>Front-end Development</li>
          </ul>
        </div>
      </div>
    </div>
  </div><!-- .employment__item -->
  <div class="employment__item">
    <div class="employment__item-header">
      <h2>Web Circle <small>Web Developer, 2007 - 2008</small></h2>
    </div>
    <div class="employment__item-content">
      <p>My role at Web Circle revolved around setting up and making modifications through plugins and customising plugins to Joomla based websites.<br />Further to this, simple style changes and the building of accompanying SEO reports.</p>
      <div class="employment__item-content-stats">
        <div class="employment__item-content-tech">
          <h3>Skills/Technology Used</h3>
          <ul>
            <li>PHP</li>
            <li>Joomla</li>
          </ul>
        </div>
        <div class="employment__item-content-highlights">
          <h3>Highlights</h3>
          <ul>
            <li>Joomla website setup and customisation</li>
            <li>SEO Stats Reporting</li>
          </ul>
        </div>
      </div>
    </div>
  </div><!-- .employment__item -->
</div><!-- .employment -->
